DEBUG=true
HTTP_PORT=9090
# TELEGRAM_API_URL is optional, override only if you use a telegram proxy.
# Empty => https://api.telegram.org
TELEGRAM_API_URL=
TELEGRAM_TOKEN=123456789:AA...your-bot-token...
TELEGRAM_CHAT_ID=-1001234567890
